body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  /* font-family: 'Russo One', sans-serif; */
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  max-height: 100% !important;
  overflow: auto;
  height: 150px !important;
}

.DraftEditor-root {
  padding: 16px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3rem !important;
}

.ui.divider {
  margin: 0 !important;
}
